/* Stylish CSS for PdfList component */

// body{
//   background-color: #000222;
// }

.notes-top-section{
  background-image: url("https://images.unsplash.com/photo-1682685796965-9814afcbff55?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
    background-position: center;
    height: 400px;
    /* Set the height of the top section as per your design */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.pdf-list-container {
    width: 100%;
    margin: 0 auto;    
    // padding: 20px;
    // padding-top: 10vh;
  }

  .pdf-all-list{
    padding: 5vh 0 5vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pdf-list-container h2{
    // color: white;
  }
  
  .pdf-list-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .pdf-list {
    width: 50%;
    display: grid;
    gap: 10px;
  }
  
  .pdf-item {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .pdf-name {
    flex: 1;
    font-size: 18px;
    font-weight: bold;
  }
  
  .download-button {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .download-button:hover {
    background-color: #0056b3;
  }
  