/* Stylish CSS for BlogList component */

.blog-page-container{
  // margin-top: 10vh;
  width: 100%;
  height: auto;
  // padding-top: 10vh;
  // background-color: antiquewhite;
}

.blogs-top-section{
  background-image: url("https://images.unsplash.com/photo-1682685796965-9814afcbff55?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
    background-position: center;
    height: 400px;
    /* Set the height of the top section as per your design */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.blog-list-container {
  
  // height: auto;
    max-width: 800px;
    margin: 0vh auto;
    // margin-top: 10vh;
    padding: 20px;
  }
  .blog-list-container h2 
  {
    // color: #fff;
  }
  
  .blog-item {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .blog-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .blog-published-at {
    font-size: 14px;
    color: #888;
    margin-bottom: 5px;
  }
  
  .blog-content {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  .blog-topic {
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
  }
  
  .blog-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .blog-items-details-container {
    // width: 50vw;
    // padding: 5px;
    margin: 3vh 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    // justify-content: space-around;
    // background-color: #87decd;
}

.blog-items-details {
  height: 5vh;
  padding-right: 15px;
  display: flex;
  align-items: center;
  font-weight: bold;
  // background-color: #6b7280;
  // padding: 5px;
}

.blogs-link-item{
  text-decoration: none;
  color: black;
}

.blog-items-topic-container {
  min-width: 5vw;
  width: min-content;
  padding: 5px;
  margin: 5vh 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 15px;
  // background-color: #87decd;
  background-color: rgb(231, 152, 6);
  box-shadow: 2px 2px 2px 2px black;
}