.singleBlog-container {
    height: auto;
    width: 100vw;
}

.singleblog-div-main {
    height: auto;
    width: 100%;
    text-align: justify;
}

.single-blogs-top-section {
    height: 400px;
    width: 100%;
    background-color: black;
    color: aliceblue;
}

.single-blog-image {
    height: 400px;
    width: 100%;
    object-fit: cover;
    opacity: 0.3;
}

.blog-all-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translateY(-200px);
    // background-color: aqua;
}

.blog-all-container h2 {
    width: 100%;
    text-align: center;
    padding: 0 15px;
}

.singleblog-items-details-container {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    // background-color: aqua;
}


.singleblog-items-details {
    height: 5vh;
    padding: 15px;
    display: flex;
    align-items: center;
}

.single-blog-author-image {
    height: 5vh;
    border-radius: 10vw;
    margin-right: 10px;
}

.singleblog-div {
    height: auto;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    // background-color: aqua;
}

.singleblog-div-left-half {
    width: 80%;
    margin: auto;
}

.singleblog-items-topic-container {
    min-width: 5vw;
    width: min-content;
    padding: 5px;
    margin: 3vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: rgb(231, 152, 6);
}

.singleblog-comments-section {
    // background-color: aquamarine;
    height: auto;
    margin: 10vh 0 5vh 0;
}

.comment-block {
    display: flex;
    // margin: 5px;
    flex-direction: column;
    align-items: flex-start;

    .comment-image {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        opacity: 0;
        transform: scale(.1);
        animation: popup .5s cubic-bezier(1, 0, 0, 1.5) forwards;
    }

    .comment-dialog {
        background-color: #87decd;
        color: #fff;
        padding: 0.5rem;
        max-width: 50vw;
        position: relative;
        margin-left: 1.5rem;
        opacity: 0;
        transform: scale(.5);
        animation: popup .4s cubic-bezier(.55, 0, 0, 1.5) .4s forwards;

        &::before,
        &::after {
            content: '';
            position: absolute;
        }

        &::before {
            top: -.45rem;
            left: 0;
            width: 100%;
            height: .5rem;
            background-color: #87decd;
            clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
        }

        &::after {
            top: 1rem;
            left: -1rem;
            border: .5rem solid transparent;
            border-right-color: #87decd;
            border-top-color: #87decd;
        }
    }

    .username {
        margin: 0 0 .8rem;
    }

    .text {
        margin: 0;
        color: #6b7280;
    }

}

@keyframes popup {
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.comments {
    margin: 2vh 0;
    display: flex;
}


// .comment-form-container {
//     background-color: aqua;
//     height: auto;
//     min-width: 250px;
//     margin: 0 0 10vh 0;
// }


.comment-form-input-label-container {
    width: 40vw;
    display: flex;
    margin: 5px 0 5px 0;
    align-items: center;
    justify-content: space-between;
    // background-color: aquamarine;
}

.comment-form-input-label-container input {
    height: 5vh;
    width: 20vw;
}

.comment-form-input-label-container textarea {
    min-height: 15vh;
    width: 20vw;
}

.comment-form-container form button {
    margin: 20px 0 0 0;
}

.single-blog-comment-box-container {
    display: flex;
    align-items: center;
}

.h-screen {
    height: 100vh;
}

.rounded-full {
    height: 5vh;
    border-radius: 10vw;
}

.bg-gray-800 {
    background-color: #1f2937;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.single-blog-comment-box {
    width: 60%;
    margin-bottom: 10vh;
}

@media screen and (max-width: 600px) {
    .single-blog-comment-box {
        width: 80vw;
        margin-bottom: 10vh;
    }
}

.bg-white {
    background-color: #ffffff;
}

.rounded {
    border-radius: 0.25rem;
}

.shadow-lg {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.ml-3 {
    margin-left: 0.75rem;
}

.mr-3 {
    margin-right: 0.75rem;
}

.font-semibold {
    font-size: 1rem;
    font-weight: 200;
}

.text-xs {
    font-size: 0.75rem;
}

.text-gray-500 {
    color: #6b7280;
}

.w-full {
    width: 100%;
}

.border {
    border: 1px solid #d1d5db;
}

.single-blog-textarea {
    resize: none;
}

.bg-gray-800 {
    background-color: #1f2937;
}

.text-white {
    color: #ffffff;
}

.font-light {
    font-weight: 300;
}

.comment-button-submit-div {
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    // background-color: aqua;
}

.comment-button-submit {
    // margin-bottom: 1vh;
    display: flex;
    background-color: rgb(126, 130, 130);
    background-color: #4b5563;
}

.blogs-related-missed-container {
    height: auto;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}


.related-blogs-container {
    height: auto;
    width: 100%;
    margin-bottom: 8vh;
}


.related-blogs {
    display: flex;
    width: 80vw;
    height: 35vh;
    margin-top: 3vh;
    overflow-x: scroll;
}

.each-related-blog {
    height: 30vh;
    min-width: 200px;
    margin: 0 25px 0 0;
    
}

.related-blog-container {
    position: relative;
    height: auto;
    min-width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    // box-shadow: 3px 2px 3px 2px black;
    background-color: black;
}


.related-blog-image {
    height: 30vh;
    width: 100%;
    opacity: 0.2;
    border-radius: 10px;
    // object-fit: contain;
}

.related-blog-title {
    position: absolute;
    width: 90%;
    margin: auto;
    top: 50%;
    /* Position the title at the vertical center of the container */
    left: 0;
    right: 0;
    font-size: 1.2rem;
    // text-align: center;
    text-decoration: none;
    color: #d1d5db;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.relatedblog-items-topic-container {
    height: 4vh;
    min-width: 6vw;
    width: min-content;
    padding: 3px;
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    // border: 2px solid black;
    border-radius: 15px;
    // background-color: #87decd;
    background-color: rgb(231, 152, 6);
    // box-shadow: 1px 1px 1px 1px black;
    font-size: 1rem;
}

.missed-blogs-container {
    height: auto;
    width: 100%;
    margin-bottom: 8vh;
}

@media screen and (min-width: 1024px) {
    .singleblog-div {
        height: auto;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        // background-color: aqua;
    }

    .singleblog-div-left-half {
        width: 60%;
        height: auto;
    }

    .blogs-related-missed-container {
        height: auto;
        width: 40%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0;
        // background-color: #87decd;
        padding-top: 10vh;
    }

    .related-blogs-container {
        height: auto;
        width: 100%;
        margin-bottom: 8vh;
    }

    .related-blogs {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: auto;
        margin: auto;
        overflow: hidden;
        // background-color: #20a88d;
    }

    .each-related-blog {
        height: 30vh;
        width: 100%;
        margin: 10px 0;
        border-radius: 10px;
        // box-shadow: 3px 2px 3px 2px black;
        background-color: black;
    }
    .related-blog-container {
        position: relative;
        height: 30vh;
        width: 100%;
        // opacity: 0.2;
        color: #fff;
        text-align: left;
        // min-width: 200px;
        // border: 2px solid black;
    }
}