.about-us-container{

}

.about-us-top-section{
    background-image: url("https://images.unsplash.com/photo-1682685796965-9814afcbff55?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-position: center;
    height: 300px;
    /* Set the height of the top section as per your design */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}


/* Custom styles for the AboutPage component */
.about-page {
    padding: 20px;
  }
  
  .about-heading {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .about-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .about-mission {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .mission-statement {
    color: #ff5722;
    font-style: italic;
  }
  
  .about-vision {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .vision-statement {
    color: #03a9f4;
    font-style: italic;
  }
  