.about-us-container{

}

.about-us-top-section{
    background-image: url("https://images.unsplash.com/photo-1682685796965-9814afcbff55?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-position: center;
    height: 400px;
    /* Set the height of the top section as per your design */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}